.user {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

#userpic {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.qrCode1 {
    width: 200px;
    height: 200px;
    opacity: 0.5;
}
.qrCode2 {
    width: 200px;
    height: 200px;
}